html { font-size: 14px; }
@media (min-width: 768px) { html { font-size: 16px; } }
.btn:focus, .form-control:focus { box-shadow: 0 0 0 0.25rem #45055f; }
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }

h1 { font-size: 2rem; 
    font-weight: 700; 
    color: rosybrown;
    margin-bottom: 1rem; 
    border-left: 6px solid var(--primary); 
    padding-left: 0.8rem; 
} 
    
.page-title { 
    font-size: 2.2rem; 
    font-weight: 700; 
    color: green;
    margin-bottom: 1.5rem; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1); 
}

.page-section { margin-top: 2rem; 
    margin-bottom: 2rem; 
}
