{% extends "_layout.html" %} 
{% block content %} 
<h2 class="page-title">Suivi de commande</h1>

<form method="POST" class="card p-4 mt-3"> 
    <label for="order_number">Numéro de commande</label> 
    <input type="text" name="order_number" class="form-control" required>

    <button class="btn btn-primary mt-3">Rechercher</button> 
</form> 

{% if order_info %} 
<div class="card p-4 mt-4"> 
    <h3>Résultat</h3>

    <p><strong>ID :</strong> {{ order_info.id }}</p> 
    <p><strong>Numéro :</strong> {{ order_info.number }}</p> 
    <p><strong>Client :</strong> {{ order_info.customer }}</p> 
    <p><strong>Statut :</strong> 
        {% if order_info.status == "draft" %} 
        Devis 
        {% elif order_info.status == "sent" %} 
        Devis envoyé 
        {% elif order_info.status == "sale" %} 
        Confirmée {% elif order_info.status == "done" %} 
        Terminée 
        {% elif order_info.status == "cancel" %} 
        Annulée 
        {% else %} {{ order_info.status }} 
        {% endif %} 
    </p> <p><strong>Total :</strong> {{ order_info.amount }} €</p> 
</div> 
{% endif %} 
{% endblock %}